<nav class="navbar navbar-expand-md bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">ng_app</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link"  href="javascript:void(0)" routerLink="/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  href="javascript:void(0)" routerLink="/register">Register</a>
        </li>
      </ul>

    </div>
  </div>
</nav>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header">Register</div>
          <div class="card-body">
            <form [formGroup]="registerForm" (ngSubmit)="register()">
              <div class="form-group row">
                <label for="full_name" class="col-md-4 col-form-label text-md-right">Full Name</label>
                <div class="col-md-6" [ngClass]="{ 'has-error': isSubmitted && formControls.name.errors }">
                  <input type="text" id="full_name" class="form-control" name="full-name" formControlName="name">
                  <div *ngIf="isSubmitted && formControls.name.errors" class="help-block">
                    <div *ngIf="formControls.name.errors.required">Full Name is required</div>
                  </div>
                </div>

              </div>

              <div class="form-group row">
                <label for="email_address" class="col-md-4 col-form-label text-md-right">E-Mail Address</label>
                <div class="col-md-6" [ngClass]="{ 'has-error': isSubmitted && formControls.email.errors }">
                  <input type="text" id="email_address" class="form-control" name="email-address"
                    formControlName="email">
                  <div *ngIf="isSubmitted && formControls.email.errors" class="help-block">
                    <div *ngIf="formControls.email.errors.required">Email is required</div>
                    <div *ngIf="formControls.email.errors.email">Email must be a valid email address</div>
                  </div>
                </div>

              </div>
              <div class="form-group row">
                <label for="password" class="col-md-4 col-form-label text-md-right">Password</label>
                <div class="col-md-6" [ngClass]="{ 'has-error': isSubmitted && formControls.password.errors }">
                  <input type="text" id="password" class="form-control" name="password" formControlName="password">
                  <div *ngIf="isSubmitted && formControls.password.errors" class="help-block">
                    <div *ngIf="formControls.password.errors.required">Password is required</div>
                    <div *ngIf="formControls.password.errors.minlength">Password must be at least 6 characters</div>
                  </div>
                </div>
              </div>

              <div class="col-md-6 offset-md-4">
                <button type="submit" class="btn btn-primary">
                  Register
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>


<!-- <h1 style="text-align:center">
    Angular 9 Login Example
  </h1>
  <div class="login">
    <h2 class="login-header">Log in</h2>
    <form [formGroup]="registerForm" class="login-container" (ngSubmit)="login()">
  
      <p [ngClass]="{ 'has-error': isSubmitted && formControls.email.errors }">
        <input type="email" placeholder="Email" formControlName="email">
      </p>
  
      <div *ngIf="isSubmitted && formControls.email.errors" class="help-block">
        <div *ngIf="formControls.email.errors.required">Email is required</div>
      </div>
  
      <p [ngClass]="{ 'has-error': isSubmitted && formControls.password.errors }">
        <input type="password" placeholder="Password" formControlName="password">
      </p>
  
      <div *ngIf="isSubmitted && formControls.password.errors" class="help-block">
        <div *ngIf="formControls.password.errors.required">Password is required</div>
      </div>
  
      <p>
        <input type="submit" value="Log in">
      </p>
    </form>
  </div> -->
