html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}body{line-height:1;}ol,ul{list-style:none;}blockquote,q{quotes:none;}blockquote:before,blockquote:after,q:before,q:after{content:none;}table{border-collapse:collapse;border-spacing:0;}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
:after, :before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.428571429;
  color: #333333;
  background-color: #f5f5f4;
}

#snippet-preview {
  position: relative;
  top:0px;left:0px; width:100%; height:100%;
  z-index:50
}

#toolbar {
	z-index: 1000;
	padding: 5px;
	border-bottom: 1px #CCC solid;
	-webkit-box-shadow: 0px 2px 6px rgba(50, 50, 50, 0.42);
	-moz-box-shadow:    0px 2px 6px rgba(50, 50, 50, 0.42);
	box-shadow:         0px 2px 6px rgba(50, 50, 50, 0.42);
	margin-bottom: 10px;
	text-align: right;
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
       -o-user-select: none;
          user-select: none;
}

.btn:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.btn:hover,
.btn:focus {
  color: #333333;
  text-decoration: none;
}

.btn:active,
.btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn-default {
  color: #333333;
  background-color: #ffffff;
  border-color: #cccccc;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active
{
  color: #333333;
  background-color: #ebebeb;
  border-color: #adadad;
}

.btn-default:active,
.btn-default.active{
  background-image: none;
}
.btn-openreach{
  background-color:#715AA3;
  color: #FFF;
  border: 1px solid #715AA3;
  -webkit-border-radius: 5px;  
     -moz-border-radius: 5px;  
      -ms-border-radius: 5px;  
          border-radius: 5px;     
  padding: 0.5rem 1.5rem;
  cursor: pointer;
}
.btn-openreach:hover,.btn-openreach:focus{
outline: none;
box-shadow: none;
color: #FFF;
-webkit-filter: opacity(95%);
filter: opacity(95%);

}
.color-green{
color: #148472
}
a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  outline: 0;
}

a {
  color: #428bca;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #2a6496;
  text-decoration: underline;
}

a:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.container-fluid{
  position: relative;
}
 /* Data grid table styles */
.dataTables_wrapper{
  width: 100%;
  margin: 0;
  padding: 0;
  max-width: 100%;
  padding-bottom: 10px;
}
.dataTables_wrapper .dataTables_scroll {
  clear: both;
  clear: both;
  position: relative;
  top: 40px;
}
/* .dataTables_scrollHead{
  overflow: visible !important;
} */
/* .dataTables_scrollHeadInner > table > thead > tr.filter-dropdownItems{
  position: relative;
  height: 0;
}
.dataTables_scrollHeadInner > table > thead > tr.filter-dropdownItems  th{
  position: relative;
  top: 0;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}  */
.dataTables_wrapper > div.row{
  margin-left: 0;
  margin-right: 0;
}
.dataTables_wrapper > div.row:last-child > .col-sm-4,
.dataTables_wrapper > div.row:first-child > .col-sm-4:last-child{
  display: flex;
  justify-content: flex-end;
}
.dataTables_wrapper .dataTables_length {
  /* float: left; */
  /* margin-left: 400px; */
  float: right !important;
  margin-top: 10px !important;
  margin-bottom: 8px;
  position: relative;
  left: 30px;
}
.dataTables_wrapper .dataTables_length,.dataTables_wrapper .dataTables_info {
  font-family: Openreach !important;
  color: #666666 !important;
}
.dataTables_wrapper .dataTables_length select {
  width: 40px;
}
.dataTables_wrapper .dataTables_length select:focus{
  outline: none;
}
.dataTables_wrapper .dataTables_info{
  font-family: Openreach;
  color: #666666;
  position: relative !important;
  left: 20px !important;
}
.dataTables_wrapper > div.row .col-sm-12{
  padding: 0;
}
.dataTables_wrapper > div.row:nth-child(2) .col-sm-12 {
  overflow-x: auto;
}
.dataTables_wrapper > div.row .col-sm-3{
  padding-left: 0px;
}
.data-grid-responsive{
  padding: 0;
  border-top: 1px solid #ddd;
} 

table.dataTable.data-grid-responsive thead th,
table.dataTable.data-grid-responsive thead td{
  border-bottom: 1px solid #ddd;
  border-top: 0;
}
table.dataTable.compact.data-grid-responsive tbody th,
table.dataTable.data-grid-responsive.compact tbody td,
table.dataTable.compact.data-grid-responsive thead th,
table.dataTable.compact.data-grid-responsive thead td{
  padding: 5px 15px 5px 12px;
  font-size: 13px;
  font-family: Openreach; 
  white-space: nowrap;
  width: 25%;
  font-weight: normal;
  /* box-sizing: border-box; */
} 

table.dataTable.data-grid-responsive.no-footer,
.dataTables_wrapper.no-footer .dataTables_scrollBody{
  border-bottom: 0 !important;
}
.dataTables_wrapper .dataTables_filter{
  float: none!important;
  text-align: left!important;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 7px;
  height: 100%;
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
}
.dataTables_wrapper .dataTables_filter label{
  width: 100%;
}
.dataTables_wrapper .dataTables_filter input{
  margin-left: 0.5em;
  width: 75%;
  outline: none;
  border: 1px solid #ddd;
  border-radius: 3px;
  /* background-image: url("../../assets/imgs/Search.svg");
  background-repeat: no-repeat;
  background-position: right 10px top 3px; */
}
table.dataTable.stripe tbody tr.odd, 
table.dataTable.display tbody tr.odd,
table.dataTable.display tbody tr.odd > .sorting_1,
table.dataTable.display tbody tr.even > .sorting_1,
table.dataTable.hover tbody tr:hover, 
table.dataTable.display tbody tr:hover
table.dataTable.stripe tbody tr.odd:hover, 
table.dataTable.display tbody tr.odd:hover,
table.dataTable.display tbody tr.odd > .sorting_1:hover,
table.dataTable.display tbody tr.even > .sorting_1:hover,
.table.dataTable.display tbody tr:hover
{
  background-color: #F5F5F5 !important;
}
table.dataTable.row-border tbody th, 
table.dataTable.row-border tbody td, 
table.dataTable.display tbody th, 
table.dataTable.display tbody td{
	border-top: none !important;
	border-bottom: 1px solid #dddddd
}
table.dataTable thead {
  background-color:#715AA3;
  color:  #FFF;
}
.dataTables_empty{
  display: none;
}
.container-fluid .dataTables_wrapper .dataTables_paginate .paginate_button {
    border: 1px solid #503D7A;
    background-color: #715AA3;
    margin-left: 0.5em;
    border-radius: 0;
    font-size: 14px;
    font-family: "Openreach";
    padding: 0 0;
    color: #FFF !important;
    min-width: 1.2em;
    height: 1.2em;
    line-height: 1.2;
}
.container-fluid .dataTables_wrapper .dataTables_paginate .paginate_button:active,
.container-fluid .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    outline: none;
    background-color: #503D7A;
    background: linear-gradient(to bottom, #503D7A 0%, #503D7A 100%);
    box-shadow: inset 0 0 3px #FFF;
    border:1px solid #503D7A;
    color: #FFF !important;
}
.container-fluid .dataTables_wrapper .dataTables_paginate .paginate_button.disabled,
.container-fluid .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover,
.container-fluid .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
    cursor: default;
    border: 1px solid #715AA3;
    background: #715AA3;
    box-shadow: none;
    opacity: 0.5;
    color: #FFF !important;
}
.container-fluid .dataTables_wrapper .dataTables_paginate{
  /* padding-left: 20px; */
  padding-top: 12px;
}
.container-fluid .dataTables_wrapper .dataTables_paginate .previous,
.container-fluid .dataTables_wrapper .dataTables_paginate .previous:hover{
  border-radius: 3px 0 0 3px;
  border-right: 0;
}

.container-fluid .dataTables_wrapper .dataTables_paginate .next,
.container-fluid .dataTables_wrapper .dataTables_paginate .previous
{
  /* border-radius: 0 3px 3px 0; */
  display: none;
}
#trends .dataTables_scrollBody{
  overflow-x: hidden;
}
.dataTables_scrollBody{
  max-height: 46vh;
        
}
/* to disable hidden thead */
/* .dataTables_scrollBody thead {
  display: none !important;
} */
@media screen and (max-height: 668px) {
  .dataTables_scrollBody{
    max-height: 40vh;
  }
}
@media screen and (max-height: 568px) {
  .dataTables_scrollBody{
    max-height: 30vh;
  }
} 
/* table styles closed here */
.ml-2r{
  margin-left: 2.1em !important;
}
.nav-link{cursor: pointer;}
.full-dashboard .tab-overall-view .chart-container{
  width: 33% !important;
}
.full-dashboard .chart-container{
  width: 70% !important;
}
.v-hide{
  visibility: hidden !important;
}
.clear_fix{
  display: table;
  clear: both;
}

.download-excel{
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 5px;
}
.download-excel:hover{
  text-shadow: 2px -2px 10px #715AA3;
  transition: text-shadow 2s 0s;
}
.download-excel:hover  svg.icon{
  fill: #715AA3;
  transform: perspective(1px) translateZ(0);
  animation: download 1s 5;
}
@keyframes download{
  0%{ transform: translateY(0)}
  50%{ transform: translateY(10px)}
  100%{ transform: translateY(0)}
}
.form-actions .form-check, .form-actions .form-check label {
  cursor: pointer;
}

@media (max-width:767px) {
  .charts-section .card.target-card{padding: 0;}
  .card.target-card .col-xs-12.flex-column{
    flex-direction: row !important;
  }
}

/* Page top tabs */
.mat-tab-labels {
  border-bottom: 2px solid #0A9B82;
}
.mat-tab-label {
  height: 40px !important;
  opacity: 1 !important;
  min-width: 140px !important;
  padding: 0 30px 0 10px !important;
}
.mat-tab-label .mat-tab-label-content {
  font-size: 16px;
  font-family: 'Openreach';
}
.mat-tab-label-container .mat-icon-button {
  position: absolute;
  right: 0;
  width: 35px ;
  background: transparent;
  border-radius: 0;
}
.mat-tab-label-container .mat-icon-button:hover,
.mat-tab-label-container .mat-icon-button:active {
  background: transparent;

}
.mat-tab-label-container .mat-icon-button .mat-icon{
  font-size: 16px;
}
.mat-tab-label-container .mat-ink-bar {
  visibility: hidden !important;
}
.mat-tab-label-active {
  color: #FFF;
  background-color: #0A9B82;
}