/* You can add global styles to this file, and also import other style files */
.has-error input,
.help-block {
  border-color: rgb(216, 12, 12) !important;
  color: rgb(230, 14, 14);
}

.navbar {
  margin-bottom: 50px;

  a {
    color: #ffffff !important;
  }
}
