<nav class="navbar navbar-expand-md bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">ng_app</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)" routerLink="/login">{{userDetails && userDetails.name ? 'Welcome ' + userDetails.name:''}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)" routerLink="/login"> Logout</a>
        </li>
      </ul>

    </div>
  </div>
</nav>

<div class="container">
  <h4>
    <input type="text" #searchFilter (keyup)="0" placeholder="Gobal Search" />
  </h4>
  <div class="table-responsive">
    <table class="table table-striped table-hover">
      <thead class="thead-dark">
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Email</th>
          <th>Phone Number</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of userData | async | searchPipe : searchFilter.value">
          <td>{{user.id}}</td>
          <td>{{user.name}}</td>
          <td>{{user.email}}</td>
          <td>{{user.phone}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
